/* html,
body {
  margin: 0px;
  padding: 0px;
}
body {
  background: #4a90e2;
  height: 100vh;
}

.input,
.output {
  width: 40%;
  display: inline-block;
  height: 50%;
}

#input {
  display: block;

  resize: none;
  padding: 10px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin: 50px auto;
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(black, 0.3);
  border: 0;
}
#input:focus {
  border: none;
  outline: none;
}

#output {
  display: block;
  overflow: hidden;

  resize: none;
  padding: 10px;
  height: 100%;
  width: 100%;
  font-size: 14px;
  margin: 50px auto;
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(black, 0.3);
  border: 0;
}
#output:focus {
  border: none;
  outline: none;
} */
.row {
  display: flex;
  justify-content: space-around;
}
.sample pre {
  height: auto;
}
